.t1
{
    background-image:
   background-size: 100mm;
   background-position: 10cm;
    
}
.t2
{
    background-image: url(cat-01.jpg);
   background-size: 100mm;
   background-position: left;
    
}






