body
{
    background-color: black;
    background-size:cover;
    color: white;
}
.c1
{
    background-color:blue;
}
p{
    text-align: center;
    text-decoration-color: white;
    text-decoration-style: dotted;
}